@import url('https://fonts.google.com/specimen/Racing+Sans+One?query=Racing+Sans+One:weight@100;300;400;500;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root{
  --primary:#ff3700;
}

body{
  background: #000;
  font-family: 'Roboto', sans-serif;
}

body::-webkit-scrollbar{
  display: none;
}